
/*** GLOBAL ***/
.w-body{
  font-family: 'Asap';
}
:root{
  --baw-button-border-radius: 3px;
  --box-shadow-mvz: 0px 4px 20px rgba(20, 58, 137, 0.08);
}


  /*** HEADLINES ***/
  .is-style-h1, .w-h1, h1{
    font-size: 2.6em;
    margin: 0.7rem 0;
  }
  .is-style-h6, .w-h6, h6{
    letter-spacing: 0.08em;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  /*** BUTTONS ***/
  .btn-plain-icon{
    display: flex;
    align-items: center;
    margin-right: 25px;
    svg{
      margin-right: 10px;
      width: 20px;
    }
  }
  .btn-calendar{
    background: $w-color-primary;
    padding: 12px 20px;
    border-radius: 4px;
    color: #fff !important;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    svg{
      margin-right: 13px;
    }
  }
  .ghostkit-button{
    --gkt-button__padding-v: 0.5em;
    --gkt-button__padding-h: 1.4em;

    .ghostkit-button-text{
      font-family: 'Asap Condensed';
      font-weight: 700;
      text-transform: uppercase;
    }
    .ghostkit-button-icon{
      font-size: 1.6rem;
    }
  }


  /*** ICON-BOXES ***/
.ghostkit-has-frame{
  box-shadow: var(--box-shadow-mvz);
}
.ghostkit-icon-box{
  padding: 3em;
  .ghostkit-icon-box-icon-align-top{
    justify-content: center;
  }
  .is-style-h5{
    font-weight: 600;
    text-transform: uppercase;
  }
}

/*** FOOTER ***/
.footer{
  .footer-inner{
    display: flex;
    flex-wrap: wrap;
    .footer-col{
      width: 25%;
      .menu{
        list-style: none;
        a {
          font-size: 1.44em;
          font-weight: 600;
        }
        .sub-menu{
          display: none;
        }
      }
      .flex-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .col{
          width: 50%;
        }
        .button-wrapper{
          width: 100%;
          margin-top: 35px;
          .ghostkit-button{
            background: $w-color-medium;
          }
        }
      }
    }
    .meta-menu{
      margin-top: 50px;
      .menu{
        display: flex;
        list-style: none;
        a{
          font-size: 0.94em;
          color: #6F6F6F;
          margin-right: 25px;
        }
      }
    }
  }
  p{
    margin-bottom: 0.6rem;
  }
  .button-plain{
    color: $w-color-medium;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    svg{
      width: 8px;
      margin-right: 10px;
      flex-shrink: 0;
      path{
        transition: .3s;
      }
    }
    &:hover{
      svg path{
        fill: $w-color-primary;
      }
    }
  }
}
