
/*** GLOBAL ***/

.nav-list li.menu-item-has-children:hover .sub-menu{
  z-index: 2;
}
.w-body{
  font-family: 'Asap';
}
:root{
  --baw-button-border-radius: 3px;
  --box-shadow-mvz: 0px 4px 20px rgba(20, 58, 137, 0.08);
}
.swiper-wrapper{
  display: flex;
  article{
    height: 100%;
  }
}
.nav-list{
  li.menu-item-has-children:hover{
    .sub-menu{
      display: flex;
    }
  }
  .sub-menu{
    display: none;
    flex-direction: column;
    li{
      margin-right: 0;
    }
  }
}


  /*** HEADLINES ***/
  .is-style-h1, .w-h1, h1{
    font-size: 2.6em;
    margin: 0.7rem 0;
  }
  .is-style-h6, .w-h6, h6{
    letter-spacing: 0.08em;
    margin: 1.5rem 0 -0.7rem 0 !important;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  .post-title{
    color: $w-color-medium;
  }
  .post-content > a{
    display: none;
  }

  /*** BUTTONS ***/
  .info-switch{
    display: flex;
    margin-right: 20px;
    span{
      border: 1px solid $w-color-light;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        background: $w-color-medium;
        &::after{
          content: '';
          display: block;
          height: 15px;
          width: 15px;
          background: $w-color-medium;
          transform: rotate(45deg);
          position: absolute;
          bottom: -6px;
          left: 17px;
        }
        svg path{
          fill: #ffffff;
        }
      }
      &.scrolled{
        background: none;
        &::after{
          display: none;
        }
        svg path{
          fill: rgb(20, 58, 137);
        }
      }
    }
  }
  .btn-plain-icon{
    font-family: 'Asap Condensed';
    text-transform: uppercase;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    margin-right: 25px;
    svg{
      margin-right: 10px;
      width: 18px;
      flex-shrink: 0;
    }
  }
  .btn-calendar,
  .btn-e-mail{
    font-family: 'Asap Condensed';
    text-transform: uppercase;
    font-size: 0.9em;
    background: $w-color-primary;
    padding: 12px 20px;
    border-radius: 4px;
    color: #fff !important;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    svg{
      margin-right: 13px;
      flex-shrink: 0;
    }
  }
  .btn-e-mail{
    background: $w-color-medium;
  }
  .ghostkit-button{
    display: inline-flex;
    align-items: center;
    width: inherit;
    .ghostkit-button-icon{
      font-size: 1.6rem;
    }
  }


  /*** ICON-BOXES ***/
.ghostkit-has-frame{
  box-shadow: var(--box-shadow-mvz);
}
.ghostkit-icon-box{
  padding: 3em;
  .ghostkit-icon-box-icon-align-top{
    justify-content: center;
  }
  .is-style-h5{
    font-weight: 600;
    text-transform: uppercase;
  }
}

/*** HEADER ***/
.header-item--logo img, .header-item--logo svg{
  width: 115px;
}
.header-bar-item{
  flex-grow: 1;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  color: #000000 !important;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(20, 58, 137, 0.08);
  margin-bottom: 20px;
  strong{
    color: $w-color-medium;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  em{
    font-style: normal;
  }
  &.open-popup,
  &.open-custom-popup{
    cursor: pointer;
  }
  svg{
    width: 16px;
  }
  p{
    margin: 0;
  }
}
.header-bar{
  box-shadow: 0px 4px 20px rgba(20, 58, 137, 0.08);
  background: #ffffff;
  z-index: 0;
  border-bottom: 1px solid #edf0f457;
  > div {
    display: none;
    &.active{
      display: flex;
    }
    .header-bar-item{
      width: 25%;
      border-right: 1px solid $w-color-light;
      border-radius: 0;
      padding: 20px 2.5%;
      box-shadow: none;
      margin-bottom: 0;
      p{
        font-size: 0.9em;
      }
    }
  }
}
.modal__title{
  strong{
    color: $w-color-medium;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  margin: 0;
  line-height: 0.8;
}
.custom-popup{
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  &.as-page{
    position: unset;
    height: inherit;
    width: inherit;
    display: flex !important;
    background: none;
    .popup{
      padding: 0;
      .popup-content{
        .popup-close{
          display: none !important;
        }
      }
    }
  }
  .popup{
    background: #fff;
    position: relative;
    width: 90%;
    max-height: 100%;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    overflow-y: auto;
    h5{
      color: $w-color-medium;
    }
    .popup-content{
      width: 55%;
      height: 100%;
      .popup-close{
        background: $w-color-medium;
        border-radius: 4px;
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        top: 5px;
        right: 5px;
        cursor: pointer;
        svg{
          width: 14px;
        }
      }
      .bereich{
        margin-bottom: 30px;
        table{
          border: 1px solid $w-color-light;
          tr{
            td{
              padding: 2px 0;
              &:first-child{
                font-weight: 600;
                width: 130px;
                padding-left: 10px;
              }
              &:last-child{
                padding-right: 10px;
              }
            }
          }
        }
        &:first-child{
          margin-top: 40px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .popup-sidebar{
      background: $w-color-light;
      width: 40%;
      padding: 30px;
      .btn-calendar,
      .btn-e-mail{
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

/*** FOOTER ***/
.footer{
  .footer-inner{
    display: flex;
    flex-wrap: wrap;
    .footer-col{
      width: 25%;
      &:nth-child(4){
        display: flex;
        justify-content: flex-end;
      }
      .menu{
        list-style: none;
        a {
          font-size: 1.3em;
          font-weight: 600;
          text-transform: uppercase;
          font-family: 'Asap Condensed';
        }
        .sub-menu{
          display: none;
        }
      }
      .flex-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .col{
          width: 50%;
        }
        .button-wrapper{
          width: 100%;
          margin-top: 35px;
          .ghostkit-button{
            background: $w-color-medium;
          }
        }
      }
    }
    .meta-menu{
      margin-top: 50px;
      .menu{
        display: flex;
        list-style: none;
        a{
          font-size: 0.94em;
          color: #6F6F6F;
          margin-right: 25px;
        }
      }
    }
  }
  p{
    margin-bottom: 0.6rem;
  }
  .btn-e-mail{
    margin-top: 25px;
  }
}
.button-plain{
  font-family: 'Asap Condensed';
  font-size: 0.9em;
  text-transform: uppercase;
  color: $w-color-medium !important;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  &.single{
    color: $w-color-primary;
    svg{
      width: 12px;
    }
  }
  svg{
    width: 8px;
    margin-right: 10px;
    flex-shrink: 0;
    path{
      transition: .1s;
    }
  }
  &:hover{
    color: $w-color-primary !important;
    svg path{
      fill: $w-color-primary;
    }
  }
}
.modal__overlay{
  z-index: 9999;
}
.modal__header{
  align-items: flex-start;
}

.ghostkit-accordion-item{
  .ghostkit-accordion-item-heading{
    color: $w-color-medium;
    border-radius: 4px;
    .ghostkit-accordion-item-label{
      /*font-size: 0.9em;*/
      font-family: 'Asap Condensed';
    }
  }
  &.ghostkit-accordion-item-active{
    .ghostkit-accordion-item-heading{
      background: $w-color-medium;
      color: #fff;
    }
  }
}
.has-light-background-color{
  .ghostkit-accordion-item{
    .ghostkit-accordion-item-heading{
      background: #fff;
      border-radius: 4px;
      color: $w-color-medium;
    }
    .ghostkit-accordion-item-content{
      background: #fff;
    }
  }
}
.type-team{
  h6{
    svg{
      display: none;
    }
  }
}
.ghostkit-custom-ZRriXg{
  .ghostkit-col-content{
    height: 100%;
    .ghostkit-icon-box{
      margin: 0;
      height: 100%;
      transition: all .3s;
      &:hover{
        transform: scale(1.05);
      }
    }
  }
}
.swiper-pagination-bullet{
  background: transparent !important;
  border: 2px solid $w-color-medium;
  height: 15px !important;
  width: 15px !important;
  &.swiper-pagination-bullet-active{
    background: $w-color-medium !important;
  }
}

/*** CONTACT-FORM ***/
.contact-form-wrapper{
  background: $w-color-light;
  padding: 3.5rem;
  border-radius: 15px;
  div{
    position: relative;
    &.input-wrapper{
      margin-bottom: 35px;
      height: 65px;
      &:first-child{
        padding-right: 15px;
      }
    }
  }
  input[type="text"],
  input[type="date"]{
    height: 43px;
  }
  .wpcf7-list-item {
    margin-top: 10px;
    &.first{
      margin-left: 0;
    }
    span {
      font-size: 0.9em;
    }
  }
  label{
    font-weight: normal;
    font-size: 0.95em;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
  }
  .ajax-loader{
    display: none !important;
  }
  input[type="submit"]{
    display: inline-block;
    width: inherit;
    border-radius: 4px;
    background: $w-color-primary;
    transition: all .3s;
    cursor: pointer;
    color: #fff;
    font-family: 'Asap Condensed';
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    &:hover {
      background: darken($w-color-primary, 10%);
    }
  }
  .wpcf7-not-valid-tip{
    display: none !important;
  }
  .wpcf7-not-valid{
    background: #ffcbcb;
  }
}

/*** WP-BLOCK-TABLE ***/
.wp-block-table{
  table{
    min-width: 900px;
  }
}
.wp-block-table.is-style-stripes td{
  padding: 10px;
}
@media(max-width: $w-breakpoint-xlarge){
  #header{
    .header-inner{
      .header-container{
        flex-wrap: wrap;
        .header-col{
          width: 100%;
          justify-content: center;
          &:nth-child(1){
            order: 2;
            margin-bottom: 25px;
          }
          &:nth-child(2){
            order: 1;
            margin-bottom: 15px;
          }
          &:nth-child(3){
            order: 3
          }
        }
      }
    }
  }
}
@media(max-width: $w-breakpoint-large){
  .footer {
    .footer-inner {
      .footer-col {
        width: 33%;

        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
@media(max-width: $w-breakpoint-medium){
  #header{
    .header-inner{
      .header-container{
        .header-col{
          margin-bottom: 30px !important;
          &:nth-child(1){
            width: 50%;
            justify-content: flex-end;
          }
          &:nth-child(2){
            width: 50%;
            justify-content: flex-start;
          }
          &:last-child{
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
  .header-bar{
    >div{
      flex-wrap: wrap;
      .header-bar-item{
        width: 50%;
      }
    }
  }
  .footer {
    padding: 20px 0;
    p{
      margin: 15px 0;
    }
    .footer-inner {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .footer-col {
        width: auto;
        text-align: center;
        .flex-wrapper{
          justify-content: center;
        }
        ul{
          padding: 0;
        }
        &:nth-child(1){
          order: 2;
        }
        &:nth-child(2){
          order: 3;
        }
        &:nth-child(4){
          order: 1;
        }
      }
      .meta-menu{
        order: 4;
      }
    }
  }
  .custom-popup{
    .popup{
      flex-wrap: wrap;
      .popup-content{
        width: 100%;
        margin-bottom: 25px;
      }
      .popup-sidebar{
        width: 100%;
      }
    }
  }
}
@media(max-width: $w-breakpoint-small){
  #header{
    .header-inner{
      padding: 15px 0;
      box-shadow: none;
      .header-container{
        flex-wrap: nowrap;
        .header-col{
          margin-bottom: 0 !important;
          &:nth-child(1){
            order: 3;
            width: auto;
            .header-item{
              margin-left: 0;
              .hamburger{
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #eef1f5;
                border-radius: 4px;
              }
            }
          }
          &:nth-child(2){
            order: 1;
          }
          &:nth-child(3){
            order: 2;
            flex-grow: 2;
            justify-content: flex-end;
            .info-switch span{
              margin-right: 5px;
            }
          }
          .btn-plain-icon{
            display: none;
          }
          .btn-calendar{
            display: none;
          }
          .info-switch{
            margin-right: 0;
          }
        }
      }
    }
  }
  .header-bar{
    width: calc(100% - 2rem);
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 20px rgba(20, 58, 137, 0.08);
    >div{
      .header-bar-item{
        width: 100%;
        border-bottom: 1px solid $w-color-light;
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
}
.single-post{
  .single-header{
    background: #fff;
    margin-bottom: 0;
    .single-header-inner{
      text-align: left;
    }
  }
  .single-footer{
    margin-top: 0;
  }
}
