$w-color-primary: #1d7d8c !default;
$w-color-dark: #181b1d !default;
$w-color-medium: #6a7177 !default;
$w-color-light: #eef1f5 !default;
$w-color-white: #fff !default;
$w-color-black: #000 !default;
