$w-color-primary: #CE0D28;
$w-color-dark: #181b1d;
$w-color-medium: #143A89;
$w-color-light: #eef1f5 !default;
$w-color-white: #fff !default;
$w-color-black: #000 !default;


$w-headline-font-family: 'Asap Condensed';

$w-button-border-radius: 4px;

