$w-color-primary: #CE0D28;
$w-color-dark: #181b1d;
$w-color-medium: #143A89;
$w-color-light: #eef1f5 !default;
$w-color-white: #fff !default;
$w-color-black: #000 !default;


$w-headline-font-family: 'Asap Condensed';

$w-button-font-family: 'Asap Condensed';
$w-button-text-transform: uppercase;
$w-button-font-weight: 700;
$w-button-border-radius: 4px;
$w-button-padding-vertical: 0.5em;
$w-button-padding-horizontal: 1.4em;
$w-button-background-hover: darken($w-color-primary, 10%);